doctype html
html
  head
    link(rel='stylesheet', href='/main.css')
    title=lvlname
  body
    include includes/menubar.pug
    h2 Level
    h1=lvlname
    h3 By #{creator}, verified by #{verifier}
    h3
      a(href=proof) Proof: #{proof}
    h3 #{points}pts
    h1=id
