doctype html
html
  head
    include includes/header.pug
    title=lvlname
  body
    include includes/menubar.pug
    h2 Level
    h1=lvlname
    h3 By #{creator}, verified by #{verifier}
    h3
      if isStreamable
        iframe(src=proof, width="640", height="360", frameborder="0", allowfullscreen) 
        p Original Link: #{origLink}
      else if isYoutube
        iframe(width="640", height="360", src=proof, title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        p Original Link: #{origLink}
      else
        a(href=proof) Proof: #{proof}

    h3 #{points}pts
    h1=id
    include includes/footer.pug
