doctype html
html
  head
    include includes/header.pug
    title Noob Challenge List
    
  body
    include includes/menubar.pug
    
    h1(id="listtitle") Noob Challenge List
    div(class="list")
      each val in levels
        if levels.indexOf(val) < 100
          div(class="levellistitem")
            span #{levels.indexOf(val) + 1}.
            img(src="https://noobchallengelist.com/levelimgs/" + val.lvlid + ".png" onerror="this.src = 'https://noobchallengelist.com/levelimgs/placeholder.png';")
            span(class="bold" style="font-size: 20pt") #{val.name}
            span By #{val.author}
            each tag in val.tags
              span(class="lvltag tag-" + tag) #{tag}
            span
              a(href="/lvl/" + val.placement) Click for more info
        else
          //do nothing
    
    h2(id="legacytitle" onClick='let heading = document.getElementById("legacytitle"); let legacyList = document.getElementById("listlegacy"); if(legacyList.className == "listl invisible") { legacyList.className = "listl"; } else { legacyList.className = "listl invisible"; }') Legacy List (click to view)
    div(class="listl invisible" id="listlegacy")
      each val in levels
        if levels.indexOf(val) > 99
          div(class="levellistiteml")
            span #{levels.indexOf(val) + 1}.
            img(src="https://noobchallengelist.com/levelimgs/" + val.lvlid + ".png" onerror="this.src = 'https://noobchallengelist.com/levelimgs/placeholder.png';")
            span(class="bold" style="font-size: 20pt") #{val.name}
            span By #{val.author}
            each tag in val.tags
              span(class="lvltag tag-" + tag) #{tag}
            span
              a(href="/lvl/" + val.placement) Click for more info
        else
          //do nothing
      

    include includes/footer.pug