doctype html
html
  head
    include includes/header.pug
    title Moderator Panel
  body
    include includes/menubar.pug
    h1 Verification List
    p To place, you must run the /placeonlist command in the discord.
    p To delete, its as simple as clicking the button!
    div(class="flexgrid")
        each lvl in unplacedLvls
            div(class="griditem")
                p(class="bold")=lvl.lvlname
                p=lvl.lvlid
                p= lvl.creator
                p Verified by #{lvl.verifier}
                a(href=lvl.videoProof, class="bluelink") Video Proof
                a(href="/api/deletever/" + lvl.lvlid, class="redlink") Click to delete
    h1 Recalculate Points
    h3 Warning: This action is irreversible!
    a(href="/api/resetpoints", class="redlink rightmargin") Click Here
    include includes/footer.pug